<!-- app/views/favorites/index.html.erb -->
<h1>Favorites</h1>

<h2>Favorite Wines</h2>
<% @favorite_wines.each do |wine| %>
  <p><%= wine.name %></p>
<% end %>

<h2>Favorite Cheeses</h2>
<% @favorite_cheeses.each do |cheese| %>
  <p><%= cheese.name %></p>
<% end %>

<h2>Favorite Pairings</h2>
<% @favorite_pairings.each do |pairing| %>
  <p><%= pairing.name %></p>
<% end %>

<%= link_to "Go Back to Profile", profile_path, class: "button" %>
