<div class="container" data-controller="openai">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1 class="text-center my-4">AI Test</h1>
      <%= simple_form_for :openai, html: { data: { action: "submit->openai#submitForm" }, class: "d-flex" } do |f| %>
        <div class="form-group">
          <%= f.input :prompt, label: 'What type of wine or cheese do you have?:', required: true, input_html: { class: 'form-control' } %>
        </div>
          <%= f.submit "Generate", class: 'btn btn-primary' %>
          <% end %>
      <br>
      <p>You should pair it with :</p>
      <div id="openai_response">
        <%# The response will be inserted here by Stimulus %>
      </div>
    </div>
  </div>
</div>
