<h1>AI Test</h1>

<%= simple_form_for :openai, url: openai_index_path, method: 'post', data: { turbo_frame: 'openai_frame' } do |f| %>
  <%= f.input :prompt, label: 'Enter your prompt:', required: true %>
  <%= f.button :submit, "Generate", name: "button_text" %>
<% end %>

<turbo-frame id="openai_frame">
  <p id="generated-text"><%= @openai %></p>
</turbo-frame>
