<div class="container-ai" data-controller="openai">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1 class="text-center-ai my-4"><strong>Weese Wizard</strong></h1>
      <h3><i>The Wheely Gouda Sommelier</i></h3>
      <br>
      <%= simple_form_for :openai, html: { data: { action: "submit->openai#submitForm" } } do |f| %>
        <div class="form-group-ai">
          <%= f.input :prompt, label: false, required: true, input_html: { class: 'form-control', placeholder: 'Enter the type of wine or cheese here' } %>
        </div>
        <%= f.submit "Pair", class: 'btn btn-ai' %>
      <% end %>
      <br>
      <p>You should pair it with :</p>
      <div id="openai_response">
        <%# The response will be inserted here by Stimulus %>
        <p class="response_placeholder">Waiting for your delicious input...</p>
      </div>
      <div class="wizard-back-button">
        <%= link_to 'Back to Pairings', pairings_path, class: 'link-two-pairings' %>
      </div>
    </div>
  </div>
</div>
