<%= link_to cheese_path(cheese), class: "cheese-card-link" do %>
  <div class="cheese-card">
    <%= image_tag cheese.image_url, alt: cheese.name %>
    <h3><%= cheese.name %></h3>
    <%# <p><%= truncate(cheese.description, length: 100) </p> %>
  </div>
<% end %>
