<h2>Top picks</h2>

<div class="scrolling-wrapper">
  <% @cheeses.sample(8).each do |cheese| %>
    <%= render 'cheeses/cheese_card', cheese: cheese %>
  <% end %>
</div>

<h2>Popular</h2>

<div class="scrolling-wrapper">
  <% @cheeses.sample(8).each do |cheese| %>
    <%= render 'cheeses/cheese_card', cheese: cheese %>
  <% end %>
</div>

<h2>Cheese by Country</h2>

<div class="scrolling-wrapper">
  <% @cheeses.sample(8).each do |cheese| %>
    <%= render 'cheeses/cheese_card', cheese: cheese %>
  <% end %>
</div>

<%= link_to "Back to Path", paths_path, class: "btn btn-secondary" %>
