<div class="cards-margin">
  <h2 class="h2-cheese">Popular</h2>
  <div class="scrolling-wrapper">
    <% @cheeses.sample(8).each do |cheese| %>
      <%= render 'cheeses/cheese_card', cheese: cheese %>
    <% end %>
  </div>

  <h2 class="h2-cheese">Weese's Selection</h2>
  <div class="scrolling-wrapper">
    <% team_selection_cheeses.each do |cheese| %>
      <%= render 'cheeses/cheese_card', cheese: cheese %>
    <% end %>
  </div>

  <div id="cheeses-by-country">
    <h2 class="h2-cheese">Countries in spotlight</h2>
    <div class="scrolling-wrapper">
      <% ["France", "United Kingdom", "Italy", "Netherlands", "Greece"].each do |country| %>
        <%= render partial: 'country_card', locals: { country_name: country } %>
      <% end %>
    </div>
  </div>
</div>
