<div class="cheese-container">
    <%= image_tag @cheese.image_url, alt: @cheese.name %>

  <div class="cheese-info">
    <h1 class="cheese-name"><%= @cheese.name %></h1>
    <button class="btn pair-button">Pair</button>

    <div class="cheese-description">
      <h2>Description</h2>
      <p><%= @cheese.description %></p>
    </div>

  </div>
</div>
