<div class="fav-wrapper">
<h2 class="favorite-heading">Favorite Wines</h2>
<div class="scrolling-wrapper">
  <% @favorite_wines.each do |favorite| %>
    <% wine = favorite.favoritable %>
    <%= render 'wines/wine_card', wine: wine %>
  <% end %>
</div>

<h2 class="favorite-heading">Favorite Cheeses</h2>
<div class="scrolling-wrapper">
  <% @favorite_cheeses.each do |favorite| %>
    <% cheese = favorite.favoritable %>
    <%= render 'cheeses/cheese_card', cheese: cheese %>
  <% end %>
</div>

<h2 class="favorite-heading">Favorite Pairings</h2>

<% @favorite_pairings.each do |favorite| %>
  <% pairing = favorite.favoritable %>
  <% if pairing %>
    <p class="link-favs">
      <%= link_to "#{pairing.wine.name} & #{pairing.cheese.name}", pairing %>
    </p>
  <% end %>
<% end %>

<p class="favorite-page-btn">
<%= link_to 'Edit Favorites', edit_favorites_path %> </p>
</div>
