<div class="nav-container">
<div class="nav nav--icons">
  <ul>
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i>

      <% end %>
    </li>
    <li>
      <%= link_to search_path do %>
        <i class="fa fa-search"></i>
        <span></span>
      <% end %>
    </li>
    <li>
      <%= link_to profile_path do %>
        <i class="fa fa-user"></i>
        <span></span>
      <% end %>
    </li>
  </ul>
</div>
</div>
