<%= link_to home_path, class: "welcome-link" do %>
  <div id="splash-screen" class="splash-screen">
    <%= image_tag("pairing_logo.png", alt: "Logo", class: "logo") %>
    <h2>The Cheese & Wine Pairing App</h2>
  </div>
<% end %>

<script>
  // yell if not phone size
  document.addEventListener('DOMContentLoaded', function() {
    var screenWidth = window.innerWidth;
    var isNotPhoneSize = screenWidth >= 768; // Assuming phone size is less than 768px

    // console.log('DOMContentLoaded event fired');
    // console.log('Screen Width:', screenWidth);
    // console.log('Is Not Phone Size:', isNotPhoneSize);

    if (isNotPhoneSize) {
      alert('Please view me on a phone!');
    }
  });
</script>
