<%= link_to home_path, class: "welcome-link" do %>
  <div id="splash-screen" class="splash-screen">
    <%= image_tag("logo.png", alt: "Logo", class: "logo") %>
    <h2>The Cheese & Wine Pairing App</h2>
  </div>
<% end %>
