<h2><%= @source.capitalize %> from <%= @country %></h2>

<div class="scrolling-wrapper">
  <% if @source == "cheese" %>
    <% @cheeses.each do |cheese| %>
      <%= render 'cheeses/cheese_card', cheese: cheese %>
    <% end %>
  <% else %>
    <% @wines.each do |wine| %>
      <%= render 'wines/wine_card', wine: wine %>
    <% end %>
  <% end %>
</div>
