.nav-container {
  display: flex;
}

.nav--icons {
  position: fixed;
  bottom: 5%;
  left: 17%;
  right: 0;
  width: 66%;
  background: #333;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 11px;
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);


}

.nav--icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav--icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60px;
}

.nav--icons a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.fa {
  margin-bottom: 5px;
}

.fa-home, .fa-search, .fa-user {
  font-size: 24px;
}

@media screen and (max-height: 850px) {
  .nav--icons {
    bottom: 2%; /* Adjust as needed */
  }
}


@media screen and (max-height: 600px) {
  .nav--icons {
    bottom: 2%; /* Adjust as needed */
  }
}

@media screen and (max-height: 500px) {
  .nav--icons {
    bottom: 2%; /* Adjust as needed */
  }
}

@media screen and (max-height: 400px) {
  .nav--icons {
    bottom: 2%; /* Adjust as needed */
  }
}
