/* Styles for the container holding cheese items */
.cheese-container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  padding: 20px;
  align-items: center;
  text-align: center;

  img {
    width: 250px;
    border-radius: 10px;
  }
}


.cheese-image {
  display: block;
  margin: 0 auto;
  border-radius: 26px;
  max-width: 100%;
  height: auto;
}

/* Styling for cheese names */
.cheese-name {
  margin-top: 5px;
  font-size: 1.5rem; /* Title size for mobile */
  margin-bottom: 10px;
}

.center-text-show {
  text-align: center;
}

/* Styling for pairing button */
.pair-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
}

.pair-button:hover {
  background-color: #000000;
  color: white;
}


/* Styling for cheese description headings */
.cheese-description h2 {
  font-size: 1.2rem; /* Subtitle size */
}

/* Styling for cheese description paragraphs */
.cheese-description p {
  font-size: 1rem; /* Description text size */
}

@media (max-width: 576px) {
  /* Specific styles for very small screens, if needed */
}
