.back-arrow-pairing-details {
  position: absolute;
  top: 57px;
  left: 20px;
  font-size: 24px;
  color: #1701a7eb;
}

.pairings-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center; /* Centers items on the cross axis */
  text-align: left; /* Centers text within divs */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.pairing-card {
  // border: 1px solid #ccc;
  background-color: ghostwhite;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 0 0 auto;
  margin-right: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border-radius: 5px;
  background: white;
  justify-content: space-between;
  width: 315px;
  height: fit-content;
}

.card, .col-md-6, .mb-4 {
  border-radius:  5px !important;
  background-color: ghostwhite;
}

.card-footer, .text-center {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.pairing-details-header {
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 30px;
  font-weight: bolder;
  font-size: 30px;
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  color: #fff !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;

}

h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: black
}

.card-header, .card-title, .text-center{
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bolder;
  background-color: rgb(226, 226, 236);
  color: rgb(0, 0, 0); /* For text color */
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.rate-pairing-details a, .back-pairing-details a, .to-my-reviews a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  color: #fff !important;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}

.topbodypairing, .bottombodypairing {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  border-radius: 5px;
  color: rgb(217, 255, 0);
  -webkit-text-stroke: 1px black;
}

.pairing-content-container{
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.836); /* Change color and transparency as needed */
  color: rgb(0, 0, 0); /* Change as needed */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Change as needed */
  padding: 10px;
  margin: auto 0;
}

.pairing-card .card-body {
  padding: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}

i.fas.fa-star {
  color: #F5D41C;
  font-size: 25px;
}

.delete-button {
  background-color: #f77070;
  color: white;
  font-weight: bold;
  padding: 2px; /* Adjust padding to change button size */
  font-size: 8px; /* Adjust font size to make button smaller */
}

/*.divider {
  border-top: 1px solid #000;  #Change color as needed
  margin: 10px 0;  #Adjust margin as needed
} */

.review-form {
  .field-container {
    margin-bottom: 20px;
    position: relative;

    textarea {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
      transition: border-color 0.3s;

      &:focus {
        border-color: #5f0606d1;
        outline: none;
      }
    }

    #character-count {
      position: absolute;
      right: 0.5rem;
      bottom: -1.5rem; /* Adjusted to position correctly */
      font-size: 0.75rem;
      color: #999;
    }
  }

  .rating {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .rating-input {
      // Add specific styles if necessary
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .wine-card {
    width: calc(80vw - 20px); /* Ajustez à 80% de la largeur de l'écran sur les petits appareils */
  }
}

@media (max-width: 576px) {
  .wine-card {
    width: calc(75vw - 20px); /* Ajustez à 75% de la largeur de l'écran sur les très petits appareils */
  }
}
