.pairings-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center; /* Centers items on the cross axis */
  text-align: left; /* Centers text within divs */
}

.card-footer {
  background-color: #e1e1e1;
  color: black;
  text-align: center;
}

i.fas.fa-star {
  color: #F5D41C;
  font-size: 25px;
}

.delete-button {
  background-color: #f77070;
  color: white;
  font-weight: bold;
  padding: 2px; /* Adjust padding to change button size */
  font-size: 8px; /* Adjust font size to make button smaller */
}

@media (max-width: 576px) {
  /* Specific styles for very small screens, if needed */
}
