body {

  background-color: #fffef6;
  margin: 0;
  padding: 0;
}
.user-profile {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
  text-align: center;
}
.user-profile h1 {
  margin: 0;
}
.profile-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.profile-links li {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.edit-profile-link, .logout-btn {
  background-color: #000000;
  color: white !important;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  text-decoration: none;
  border-radius: 20px;
}

.profile-links a {
  text-decoration: none;
  color: #090909;
  font-size: 16px;
}
.profile-links svg {
  fill: #333333;
}
.logout-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 16px;
}
.logout-btn:hover, .edit-profile-link:hover {
  background-color: #1e1e1e;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
