.content-container {
  margin-bottom: 18%;
  background-color: #ffffff;

}

.content-container-two {
margin-left: 3px;
margin-right: 3px;
}

.body {
 background-color: #ffffff !important;
}

body .content-container
{
  margin-bottom: 18%;
  background-color: #ffffff;
}

body .content-container-two
{
  margin: 0%;
}
.h2-cheese {
  font-weight: bolder;
  color: #005172;
}

.h2-wine {
  font-weight: bolder;
  color: #5f0606;
}



.sign-in-link,
.sign-up-link,
.confirmation-link,
.unlock-link,
.omniauth-button,
.submit-button {  display: block;
  width: 70%;
  padding: 10px;
  margin: 20px auto;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.pair-button,
.btn-primary {
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 16px;

}

.btn-ai {
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  border: none;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}


.country-card {
  width: 200px; /* Set the width of the cheese card */
  height: 150px; /* Set the height of the cheese card */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 0 0 auto;
  margin-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, inset rgba(0, 0, 0, 0.1) 1px 0px 2px;
  border-radius: 5px;
  background: white;
  justify-content: space-between;

}

.flag-image {
  width: 100%; /* Make sure the flag image fills the entire space of its container */
  height: 100px; /* Set the height of the flag image */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.h3 {
  margin-top: 5px; /* Optional: Adjust margin for the heading */
  text-align: center; /* Optional: Center align the heading */
}


.sign-in-link, .sign-up-link, .confirmation-link, .unlock-link, .omniauth-button, .submit-button {
  display: block;
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}


.signup-container input[type="submit"] {
  display: block;
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.to-my-pairings a {
  margin: 0 auto;
  padding: 10px 15px;
  text-decoration: none;
  background: linear-gradient(to bottom right, #5f0606d1 0%, #005172eb 100%);
  color: #fff !important;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 10px;
}

.card {

--bs-card-bg: #fffdfd !important;

}

.back-arrow {
  position: absolute;
  top: 57px;
  left: 20px;
  font-size: 24px;
  color: #005172;
}
