.content-container {
margin-bottom: 18%;
background-color: #fffef6;

}

.body {
 background-color: #fffef6 !important;
}

body .content-container
{
  margin-bottom: 18%;
  background-color: #fffef6;
}

.h2-cheese {
  font-weight: bolder;
  color: #005172;
}

.h2-wine {
  font-weight: bolder;
  color: #5f0606;
}
