<div class="pairings-container">
<h1>Pairings History</h1>
<div class="container mt-5">
  <div class="row">
    <% @pairings.each do |pairing| %>
    <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body text-center">
          <h4 class="card-title text-center mt-3">Wine & Cheese Pairing:</h4>
          <p><strong>Wine:</strong> <%= pairing.wine.name %></p>
          <p><strong>Cheese:</strong> <%= pairing.cheese.name %></p>
        <p class="link-two">
        <%= link_to "View Pairing", pairing %>
          </p>
          </div>
        </div>
      </div>
         <% end %>
     </div>
    </div>
</div>
