<%= link_to wine_path(wine), class: "wine-card-link" do %>
<div class="wine-card">
  <%= image_tag wine.image_url, alt: wine.name %>
  <h3><%= wine.name %></h3>
  <%# <p><%= truncate(wine.description, length: 100) </p> %>
</div>
<% end %>
