<%= link_to wine_path(wine), class: "wine-card-link" do %>
<div class="wine-card">
  <div class="image-container">
    <%= image_tag wine.image_url, alt: wine.name %>
  </div>
  <h3><%= wine.name %></h3>
  <%# <p><%= truncate(wine.description, length: 100) </p> %>
</div>
<% end %>
