<div class="cards-margin">
  <h2 class="h2-wine">Top picks</h2>

  <div class="scrolling-wrapper">
    <% @wines.sample(8).each do |wine| %>
      <%= render 'wines/wine_card', wine: wine %>
    <% end %>
  </div>


  <h2 class="h2-wine">Popular</h2>

  <div class="scrolling-wrapper">
    <% @wines.sample(8).each do |wine| %>
      <%= render 'wines/wine_card', wine: wine %>
    <% end %>
  </div>

 <h2 class="h2-wine">Wine by Country</h2>

  <div class="scrolling-wrapper">
    <% @wines.sample(8).each do |wine| %>
      <%= render 'wines/wine_card', wine: wine %>
    <% end %>
  </div>
</div>
