
<h2>Top picks</h2>

<div class="scrolling-wrapper">
  <% @wines.sample(8).each do |wine| %>
    <%= render 'wines/wine_card', wine: wine %>
  <% end %>
</div>
</div>

<h2>Popular</h2>

<div class="scrolling-wrapper">
  <% @wines.sample(8).each do |wine| %>
    <%= render 'wines/wine_card', wine: wine %>
  <% end %>
</div>

<h2>Wine by Country</h2>

<div class="scrolling-wrapper">
  <% @wines.sample(8).each do |wine| %>
    <%= render 'wines/wine_card', wine: wine %>
  <% end %>
</div>


<%= link_to "Back to Path", paths_path, class: "btn btn-secondary" %>
