<% if user_signed_in? %>
  <% if current_user.favorited?(@wine) %>
    <%= link_to 'Remove from Favorites', remove_favorite_wine_path(@wine), method: :delete %>
  <% else %>
    <%= link_to 'Add to Favorites', add_favorite_wine_path(@wine), method: :post %>
  <% end %>
<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> to add wines to your favorites.</p>
<% end %>
